<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestingSuite" parallel="none">
<listeners>
<listener class-name="Test.Listners"/>
</listeners>


  <test name="Test1">
    <classes>
         <class name="Test.LoginTestRunner"/>
    </classes>
  </test>
    <test name="Test 2">
        <classes>
            <class name="Test.PIMTest"/>
        </classes>
    </test>
    <test name="Test 3">
        <classes>
            <class name="Test.NewLogin"/>
        </classes>
    </test>
</suite>